@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background: #333;
	color: #eee;
	text-align: center;

	font-family: 'Koh Santepheap', cursive;
}

header{
	background: #444;
	padding: 10px;
}

.card{
	width: 400px;
	margin: auto;
}

.card > *{
	margin: 8px 2px;
}

.instruct{
	background: #555;
	width: 100%;
	padding: 10px 5px;
	margin: 10px 2px;
}

.instruct h4{
	padding-bottom: 8px;
}

#message, #time{
	color: red;
}

#score{
	color: green;
}


input{
	outline: none;
	padding: 8px 15px;
	border-radius: 5px;
}

button{
	margin:  2px;
	padding: 5px 8px;
}

.mix{
	display: flex;
	align-items: center;
	justify-content: space-between;
}